# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Next.js local build outputs (CRITICAL to ignore)
.next
out
dist
build

# Version control
.git

# Ignore the default env file
.env

# Ignore all specific environment files
.env.production
.env.development
.env.test

# Ignore all local override files (using the wildcard)
.env*.local

# Docker files (no need to copy them into the image)
Dockerfile
.dockerignore